# Global owners.
@ThePrimeagen

# Degenerate language maintainers.
/R5RS/          @Fesaa
/bash-twce/     @ThenWhenceComethEvil
/bash/          @aretrosen
/bf/            @sno2
/c-boreddad/    @boreddad
/c/             @zivlakmilos
/chatgpt/       @unconv
/chezscheme/    @bjornkihlberg
/clj/           @Vikasg7
/cobol/         @kkard2
/common-lisp/   @lh2
/cpp-spongman/  @Spongman
/cpp/           @nicdgonzalez
/crystal/       @devnote-dev
/csharp/        @MarioGK @TomasDurica
/csharp2/       @leo-costa @redducks100
/d/             @ToraKuma42
/dart-funk/     @Fa-C-Shus
/dart/          @shreyassanthu77
/elixir/        @ryanwinchester
/erlang/        @mikimaine
/factor/        @TriedAngle
/fortran/       @greuben92
/fsharp/        @meenzen
/gdscript/      @Abdera7mane
/go-concurrent/ @amis-shokoohi
/go/            @GiorgosAthanasopoulos
/groovy/        @trvswgnr
/groovyc/       @knudtty
/gsheets/       @aliyss
/haskell-newmaidumosa/      @newmaidumosa
/haskell/       @alexjercan
/haxe/          @koteelok
/holyc/         @xslendix
/jai/           @marvhus
/java/          @xNaCly @Crain-32
/javascript/    @trvswgnr
/jjdsl/         @Crain-32
/k/             @fluentpwn
/kotlin-deez/   @sergushka
/kotlin-multiplatform/      @hermannm @ekgame @LizAinslie
/lua/           @aretrosen
/luajit/        @Okanoa
/nasm/          @onehunga @iamevie
/nelua/         @LucasTavaresA
/nim/           @Echriser
/ocaml/         @tjdevries
/odin/          @jon-lipstate
/pascal/        @attilakapostyak
/php/           @wartab
/prolog/        @Kaixi26
/prolog2/       @luizcoro2
/purescript/    @yornaath
/python/        @BatikanHyt
/reason/        @lessp
/rescript/      @dylf
/roc/           @bhansconnect
/ruby/          @ayatofrench
/rust/          @ThePrimeagen
/rust_blaz/     @blazkowolf
/rust_dr/       @anis-dr
/rust_xiu/      @xiuxiu62
/scala/         @alextsc
/scratch/       @aliyss
/swift/         @marcusziade @MatsMoll
/typescript/    @ThePrimeagen
/unison/        @cobaltburn
/v/             @xXMacMillanXx
/visual-cobol-micro-focus/ @LTR-Travis
/vlang/         @FalconEthics
/x64_nasm/      @Sirraide
/zig/           @ThePrimeagen
