# Global owners.
@ThePrimeagen

# Degenerate language maintainers.
/R5RS/          @Fesaa
/bash/          @aretrosen
/bash-twe/      @ThenWhenceComethEvil
/bf/            @sno2
/c/             @zivlakmilos
/c-boreddad/    @boreddad
/chatgpt/       @unconv
/cobol/         @kkard2
/common-lisp/   @lh2
/cpp/           @nicdgonzalez
/crystal/       @devnote-dev
/csharp/        @MarioGK
/clj/           @Vikasg7
/d/             @ToraKuma42
/dart/          @shreyassanthu77
/dart-funk/     @Fa-C-Shus
/elixir/        @ryanwinchester
/erlang/        @mikimaine
/factor/        @TriedAngle
/fortran/       @greuben92
/fsharp/        @meenzen
/go/            @GiorgosAthanasopoulos
/gsheets/       @aliyss
/haskell-newmaidumosa/      @newmaidumosa
/haskell/       @alexjercan
/haxe/          @koteelok
/java/          @xNaCly @Crain-32
/javascript/    @trvswgnr
/nasm/          @onehunga @iamevie
/nim/           @Echriser
/pascal/        @attilakapostyak
/ocaml/         @tjdevries
/jai/           @marvhus
/kotlin2/       @hermannm
/lua/           @aretrosen
/luajit/        @Okanoa
/odin/          @jon-lipstate
/php/           @wartab
/prolog/        @Kaixi26
/prolog2/       @luizcoro2
/purescript/    @yornaath
/python/        @BatikanHyt
/reason/        @lessp
/rescript/      @dylf
/roc/           @bhansconnect
/rust/          @ThePrimeagen
/typescript/    @ThePrimeagen
/unison/        @cobaltburn
/x64_nasm/      @Sirraide
/zig/           @ThePrimeagen
/swift/         @marcusziade
/holyc/         @xslendix
/scala/         @alextsc
