{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.vikasg7/jdsl {:git/url "https://github.com/vikasg7/jdsl.git" 
                                :git/sha "d87583cebee2efbcac47cb79ebcf3892621f79e3"
                                :deps/manifest :deps}}
 :tasks {run  {:task (exec 'monkey-lang.core/-main)}
         test {:extra-paths ["test"]
               :extra-deps {io.github.cognitect-labs/test-runner 
                           {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
               :task (exec 'cognitect.test-runner.api/test)}}}