##
# Simplified .gitignore for Dlang implementation
##

.dub
docs.json
__dummy.html
docs/
monkeyscript*
monkeyscript-library
monkeyscript-library.so
monkeyscript-library.dylib
monkeyscript-library.dll
monkeyscript-library.a
monkeyscript-library.lib
monkeyscript-library-test-*
monkeyscript-test-*
monkeyscript-test-library
monkeyscript-test-library.so
monkeyscript-test-library.dylib
monkeyscript-test-library.dll
monkeyscript-test-library.a
monkeyscript-test-library.lib
monkeyscript-test-library-test-*
libmonkeyscript.so
libmonkeyscript.dylib
libmonkeyscript.dll
libmonkeyscript.a
libmonkeyscript.lib
libmonkeyscript-test-*
lib*.exe
*.pdb
*.o
*.obj
*.lst
